/* COMMON */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* SUMMARY */
.summary {

}
.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}
.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/* SECTION / INNER */
.section {
    /* 넓은 범위의 영역에서는 positon으로 인한 문제를 방지하기위해 relative를 정의해 주는 것이 좋다. */
    position: relative;
}
.section .inner {
    max-width: 980px;
    /* 가로 사이즈가 정의돼 있어야지만 사용 가능하다. */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* BTN */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .07);
}

.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT TEXT */
.input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    font-size: 16px;
}

.input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075),
        0 0 5px rgba(81, 167, 232, .5);
}

/* placeholder 색상을 바꾸는 것은 표준 기술 아님 */
/* Vendor Prefix (브라우저 업체별 접두사) */
/* 크롬 */
.input--text::-webkit-input-placeholder {
    color: #cacaca;
}

/* 마이크로소프트 */
.input--text::-ms-input-placeholder {
    color: #cacaca;
}

/* 모질라 */
.input--text::-moz-input-placeholder {
    color: #cacaca;
}

/* 오페라 / 오페라에서는 placeholder을 지원하지 않는다. */
/* .input--text::-o-input-placeholder {
    color: red;
} */

/* HEADER */
header {
    border-botton: 1px solid rgba(0,0,0,.7);
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    background: #FFF;
}

header .inner {
    /* inner에 넣는 이유는 header에 두 번 써야 되는 것을 줄일 수 있다. */
    height: 78px;
}

/* inner은 특정 영역 내부에서 가운데 정렬 및 범위 설정의 용도로 사용되고 이후 다른 기능들과의 연관성이 떨어져 아래 속성정의에서는 inner을 제외하고 작성하였다. */
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo {
    margin-right: 10px;
}

/* 백그라운드 속성으로 이미지를 넣게되면 alt로 대체택스가 나오지 않기에 a태그를 지우면 안된다. */
header .logo a {
    display: block;
    background: url("../img/logo.svg");
    width: 32px;
    height: 32px;
    /* -9999는 명시적인 의미로 텍스트를 사라지게 하는 것 (약속) */
    text-indent: -9999px;
}

header .logo a:hover {
    background: url("../img/logo_on.svg");
}


header .main-menu {
    display: flex;
}

/* li 태그에 padding을 넣으면 선택영역이 늘어나지 않으니 주의할 것 */
header .main-menu li a {
    display: block;
    padding: 10px;
    color: #3c4146;
}

header .main-menu li a:hover {
    color: #4078c0;
}

header .sign-group {
    display: flex;
    height: 100%;
    align-items: center;
}

header .btn-group {
    order: 2;
    /* 엔터 한 개를 띄어쓰기 한 개로 인식해서 원하지 않는 빈 공간이 생긴다. 이럴때 명시적으로 수평으로 만들어주면 문제가 해결된다. */
    display: flex;
}

header .btn-group .sign-in {
    margin-right: 4px;
}

/* id는 하나밖에 없는 고유의 값이기 때문에 부모/조상요소의 선택자를 붙일 필요가 없다. */
#search-form {
    order: 1;
    margin-right: 12px;
}

#search {
    width: 160px;
    font-size: 14px;
}

#search + [type="submit"] {
    display: none;
}

header .sub-menu {
    display: flex;
    margin-right: 10px;
}

header .sub-menu li a {
    display: block;
    padding: 10px;
}

header .sub-menu li a:hover {
    color: #4078c0;
}

/* VISUAL */
.section--visual {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.section--visual::before {
    content: "";
    position: absolute;
    /* 모든 방향에 0을 주면 width:100%, height:100% 와 같은 효과를 줄 수 있다. */
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.3);
}

.section--visual .inner {
    padding: 160px 0;
    display: flex;
}

.section--visual .summary {
    /* flex-grow: 1;
    flex-basis: 0; 단축속석으로 사용 */
    flex: 1;
    margin-right: 90px;
}

.section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    /* 텍스트에 그림자 : text-shadow / 요소에 그림자 : box-shadow */
    text-shadow: 0 1px 1px rgba(0,0,0,.25),
                 0 1px 25px rgba(0,0,0,.75);
}

.section--visual .summary__description {
    color: #fff;
}

#sign-form {
    width: 340px;
    margin-top: 16px;
}

#sign-form li {
    margin-bottom: 17px;
}

#sign-form li:last-child {
    margin-bottom: 0;
}

#sign-form .input--text {
    width: 100%;
    height: 40px;
}

#sign-form .caption {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255,255,255,.6);
    line-height: 1.5;
    text-align: center;
}

#sign-form [type="submit"] {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center;
}